/*@import "font-awesome.min.css";
@import "https: //fonts.googleapis.com/css?family=Open+Sans:400, 400italic, 600, 600italic, 800, 800italic";*/
@font-face {
font-family: "Open Sans Regular";
src: url("../fonts/OpenSansRegular.eot");
src: url('../fonts/OpenSans.eot?#iefix') format('embeddedopentype'),  url("../fonts/OpenSansRegular.woff") format("woff"),  url("../fonts/OpenSansRegular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Open Sans Bold";
src: url("../fonts/OpenSansBold.eot");
src: url('../fonts/OpenSansBold.eot?#iefix') format('embeddedopentype'),  url("../fonts/OpenSansBold.woff") format("woff"),  url("../fonts/OpenSansBold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Open Sans Semibold";
src: url("../fonts/OpenSansSemiBold.eot");
src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embeddedopentype'),  url("../fonts/Open Sans Semibold") format("woff"),  url("../fonts/OpenSansSemiBold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}






html{
height: 100%;
overflow-x: hidden;
font-size: 16px;
}


body {
background: #eee6e6;
font-size: 16px;
font-family: "Open Sans Regular";
font-style: normal;
font-weight: normal;
letter-spacing: 0;
text-decoration: none;
text-align: center;
padding-bottom: 0;
margin: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
line-height: 1.2rem;
}


body {
line-height: 1;


}

ol,
ul {
list-style: none
}

blockquote,
q {
quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none
}

table {
border-collapse: collapse;
border-spacing: 0
}



:focus {
outline-style: none;
outline-width: 0px !important;
outline-color: none !important
}

input[type=number] {
-moz-appearance: textfield
}

input,
textarea {
outline: none !important
}

a {
text-decoration: none !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0
}

.section__title {
font-size: 2rem;
font-family: "Open Sans Bold";
text-align: center;
margin-top: 2.8rem;
margin-bottom: 2.8rem;
text-transform: uppercase;
display: block;
}

h1.main__activity{

margin-bottom: 1.5rem;
text-align: center;
font-weight: bold; 
font-size: 2.5rem; 
color: #fff;
font-family: "Open Sans Bold";
width: 80%;
margin:auto;
margin-top: 7%;
}


.catalog__section {
padding: 10px 10px 18px;
position: relative;
width: 95%;
margin-right: auto;
margin-left: auto;
background: #fff;
border: 2px solid grey;
border-radius: 20px;
-webkit-box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);
-moz-box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);
box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);  
margin-top: 1.5rem;
margin-bottom: 1.5rem;
min-height: 344px;
max-width: 300px;
}

.catalog__image {
display: block;
width: 95%;
height: 10rem;
margin:auto;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
cursor: pointer;
transition: .4s;
}

.catalog__image:hover{
opacity: 0.8;
}


.catalog__category {
background-image:url(../images/gradient.png);
background-repeat:repeat;
background-position:center;
background-size:contain;

}
.container.text__description{
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}


.category__title {
min-height: 4rem;
font-family:"Open Sans Bold";
font-size: 1.1rem;
line-height: 1.2rem;
text-align: center;
width: 87%;
margin:auto;
margin-bottom: 1.5rem;
margin-top: 1.3rem;

}

.section__title.white {
color: #fff;
}



.site__text {
font-size: 1.2rem;
line-height: 1.5rem;
text-align: left;
}


img.header__logo {
display: inline-block;
max-width: 300px;
cursor: default;
}

button.header__backcall {
color:#fff;
float: right;
border:none;
box-shadow: inset 0 0 0 2px #111;
background-color:  #da7701;
border-radius: 8px;
transition: .4s;
display: block;
margin:auto;
width: 86%;
max-width: 120px;
text-align: center;
min-height: 2.5rem;
line-height: 2.5rem;
margin-top: 5px;
margin-bottom: 1rem;
}

button.header__backcall:hover
{
color: #fff;
background-color: #a42102;
opacity: 1;
}






.cart_image {
display: inline-block;
width: 50px;
height: 50px;
float: right;
cursor: pointer;
transition: .2s;
}
.cart_image:hover {
opacity: 0.7;
}




.contacts_info {
font-size: 1.2rem;
line-height: 1.5rem;
text-align: left;
}


.contacts_info span {
font-family: "Open Sans Bold";
}


.navbar-nav > li > a:hover{
color:#fff!important;
opacity: 0.9;
}

.contacts_block {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}


button.header__button,
a.header__button {
box-shadow: inset 0 0 0 2px #111;
background-color:  #da7701;
color: #fff;
border-radius: 8px;
transition: .4s;
display: block;
margin:auto;
width: 86%;
max-width: 330px;
text-align: center;
min-height: 3.5rem;
line-height: 3.5rem;
margin-top: 3rem;
margin-bottom: 2rem;
}
button.header__button:hover,
a.header__button:focus,
a.header__button:hover
{
color: #fff;
background-color: #a42102;
opacity: 1
}


.header {
color: #fff;
background-color: #212121;
min-height: 98px;
width: 100%;
position: fixed;
z-index: 1000;
}

p.first_screen__phone {
font-size: 20px !important;
color: #fff;
padding: 20px 25px;
}

#first_screen__phone {
font-size: 20px !important;
color: #fff;
line-height: 60px;
float: left;
}

.first_screen {
width: 100vw;
height: 100vh;
min-height: 600px;
display: block;
background: url(../images/mainscreen_bg.jpg)no-repeat center center;
background-size: cover;
overflow-x: hidden;

}


.first_screen2 {
width: 100%;

display: block;
background: url(../images/mainscreen_bg.png)no-repeat right top;
background-size: cover;
overflow-x: hidden;
padding-bottom: 30px;
}

.grey_section {
background-color: rgba(0, 0, 0, 0.87);
min-height: 159px
}

.first_screen_activity {
width: 90%;
margin: auto
}

h1.main_activity {
min-height: 120px;
padding: 40px 40px;
background-color: rgba(0, 0, 0, 0.87);
color: #fff;
font-size: 2rem;
margin-top: 120px
}

.product_price,
.total_price {
padding-top: 50%;
font-family: "Open Sans Bold";
}

.table_quantity {
padding-top: 50%
}

.delete_product {
background: #a42102;
color: #fff;
display: inline-block;
margin: 10px
}

.delete_product:hover {
opacity: 0.8;
color: #fff
}

.red_button {
display: block;
height: 63px;
width: 267px;
border: none;
border: 0 none;
background: #ce3331;
-webkit-box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
-moz-box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
color: #ffffff;
font-size: 22px;
letter-spacing: 0;
text-shadow: 0.729131px 0.803145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.729131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.803145px 2.94px rgba(0, 0, 0, 0.6);
text-transform: uppercase;
margin: auto;
line-height: 63px
}

.grey_button {
display: block;
height: 63px;
width: 267px;
border: none;
border: 0 none;
background-color: rgba(0, 0, 0, 0.87);
-webkit-box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
-moz-box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
box-shadow: 0.669131px 0.743145px 2.94px 0.06px #000000;
color: #fff;
font-size: 24px;
letter-spacing: 0;
text-shadow: 0.729131px 0.803145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.729131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.803145px 2.94px rgba(0, 0, 0, 0.6);
text-align: center;
margin: auto;
line-height: 63px;
margin-top: 30px;
text-transform: uppercase
}

.grey_button:hover {
background-color: #000;
color: #fff
}

.red_button:hover {
background-color: #a71b1a;
color: #fff
}

.red_button:hover:focus {
background-color: #a71b1a
}

.popup_button {
width: 300px;
font-size: 20px
}

.goods_parts__title {
font-size: 32px;
display: inline-block;
text-align: center;
margin-top: 20px
}

.goods_parts__title_min {
font-size: 16px;
display: block;
text-align: center;
margin-top: 10px
}


.good {
position: relative;
max-width: 350px;
width: 90%;   
min-height: 480px;  
}


.card_background.sc-product-item{
width: 100%;
min-width: 300px;
}

body.gradient{
height: 100%;
background-image:url(../images/gradient.png);
background-repeat:repeat;
background-position:center;
background-size:contain;
}




.good_price,
.old_price {
position: relative;
font-size: 1.5rem;
display: inline-block;
margin-bottom: 1rem;
margin-top: 1rem; 
color: #000;    
}
span.inner {
color: #000;
font-size: 1.1rem;
}
span.outer {
color: red;
text-decoration: line-through;
}


input.goods_amount {
height: 59px;
width: 61px;
font-size: 20px;
border: 1px solid #ddd;
padding: 0 2px;
box-shadow: 0.45399px 0.891007px 2.94px 0.06px rgba(0, 0, 0, 0.6);
text-align: center;
color: #121111;
margin-right: -45px;
position: absolute;
top: 400px;
right: 5px;
background-color: #fff;
color: #000;
z-index: 500
}

.minus {
padding: 20px;
font-size: 27px;
color: #fff;
font-weight: bold;
position: absolute;
top: 365px;
right: 20px;
display: inline-block
}

span.minus:active,
span.minus:focus,
span.minus:hover {
outline: none !important;
background-color: transparent !important
}

span.minus::-moz-focus-inner {
border: 0 !important
}

.pluses {
position: absolute;
top: 365px;
right: 50px;
display: inline-block;
padding: 20px;
font-size: 27px;
cursor: pointer;
}

.minus2 {
padding: 20px;
font-size: 37px;
color: rgba(255, 254, 254, 0.9);
padding-top: 0;
display: inline-block;
cursor: pointer;
}

.pluses2 {
color: rgba(255, 254, 254, 0.9);
display: inline-block;
padding: 20px;
font-size: 37px;
padding-top: 0;
cursor: pointer;
}

.cart_structure {
position: relative;
color: #fff
}

.table_titles {
font-size: 20px;
text-align: center;
padding: 30px;
display: block;
color: #000
}

.product_title {
text-align: left;
color: #fff;
font-size: 16px;
padding: 5px;
font-weight: bold;
line-height: 26px;
text-shadow: 0.729131px 0.803145px 2.94px #000000, 0.609131px 0.683145px 2.94px #000000, 0.729131px 0.683145px 2.94px #000000, 0.609131px 0.803145px 2.94px #000000
}

.product_in_cart {
display: block;
width: 96%;
padding: 5px;
float: right;
font-size: 16px
}

.back_to_shop_link {
color: #fff;
font-size: 16px;
margin-bottom: 20px;
display: block
}

.products {
display: inline-block;
/* display: flex;*/
/*flex-wrap: nowrap;*/
margin-bottom: 22px;
margin-top: 20px;
color: #fff;
font-size: 16px;
width: 33%; 
box-sizing: border-box; 
/* background-color: red;*/
height: 500px;

}

.card_background.sc-product-item {

height: 500px; 
}





.container-fluid {
margin: 0 !important;
padding: 0 !important;
box-sizing: border-box !important
}

.first_screen__cart {
display: inline-block;
padding-top: 10px
}

.products_quantity {
height: 20px;
width: 20px;
background-color: #ce3331;
color: #fff;
font-size: 10px;
line-height: 20px;
display: inline-block;
border-radius: 50px;
float: right;
}

.card_background {
padding: 10px 10px 18px;
position: relative;    
width: 90%;
margin-right:auto;
margin-left:auto;
background: #fff;
border: 2px solid grey;
border-radius: 20px;
-webkit-box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);
-moz-box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);
box-shadow: 0.669131px 0.743145px 2.94px 0.06px rgba(28, 28, 28, 0.53);

}

.good_picture {   
position: relative;    
display: block;
max-width: 250px;
margin: auto;
margin-bottom: 1rem;
margin-top: 1rem;
align-self: top;
}

.good_title {
font-size: 1.3rem;
line-height: 1.5rem;
font-weight: bold;
text-transform: lowercase;
margin-bottom: 1rem;
margin-top: 1rem;
color: #000;
height: 82px;
}

.nav_bottom {
background-color: rgba(0, 0, 0, 0.87) !important;
text-align: center !important;
overflow-x: hidden
}

.order_product {
display: block;    
height: 49px;
max-width: 170px;
border: 1px solid #000;    
background-color: #da7701;
padding: 3px 30px;
-webkit-box-shadow: 0.75471px -0.656059px 2.94px 0.06px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0.75471px -0.656059px 2.94px 0.06px rgba(0, 0, 0, 0.6);
box-shadow: 0.75471px -0.656059px 2.94px 0.06px rgba(0, 0, 0, 0.6);
color: #ffffff;
font-size: 18.66667px;
font-weight: bold;
letter-spacing: 0;
margin:auto;
margin-bottom: 1rem;
margin-top: 1rem;
text-shadow: 0.729131px 0.803145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.729131px 0.683145px 2.94px rgba(0, 0, 0, 0.6), 0.609131px 0.803145px 2.94px rgba(0, 0, 0, 0.6);
box-shadow: inset 0 0 0 2px #111;
border-radius: 8px;
transition: .4s;

}

.order_product:hover {
color: #fff;
background-color: #a42102
}

.order_product:active,
.order_product:focus {
color: #fff !important
}

.order_product::-moz-focus-inner {
color: #fff !important
}

button:active,
button:focus,
.button:active,
.button:focus {
outline: none !important;
color: #fff
}

button::-moz-focus-inner,
.button::-moz-focus-inner {
border: 0 !important;
color: #fff
}


.goods_parts__icon {
display: inline-block;
margin-top: 12px;
margin-right: 10px
}

.goods_parts {
color: #fff;
padding-top: 20px;
margin-bottom: 230px;
display: block
}

.info {
background-color: rgba(0, 0, 0, 0.87);
padding: 80px 40px;
color: #fff;
margin-top: 20px;
line-height: 20px
}

.navbar__links {
color: #fff !important;
border: 15px solid transparent;
padding: 10px !important;
height: 72px !important;
text-align: left
}

.navbar__links:hover,
.navbar__links:focus {
color: #fff !important;
background-color: #a60807 !important;
display: inline-block !important;
height: 72px !important
}

.products_in_cart {
border: none !important;
text-align: center;
background-color: transparent !important;
display: inline;
max-width: 30px;
font-family: "Open Sans Bold";
}

.products_in_cart:focus {
border: none !important
}

.popup {
background: none repeat scroll 0 0 #fff;   
left: 50%;
margin-left: -190px;   
position: fixed;
top: 80px;
width: 390px;
/*min-height: 360px;*/
z-index: 5002;
display: none;
padding: 20px;
border-radius: 20px;

}

#back_call_popup {
height: 100%;

padding-left: 12px;
padding-right: 12px;

}

.total_sum {
float: right;
margin-right: 40px;
font-weight: bold;
font-size: 20px;
padding-bottom: 20px;
color: rgba(255, 254, 254, 0.9)
}

.cart_buttons {

padding-top: 30px !important;
padding-bottom: 30px !important
}

.back_to_main_link {
font-size: 16px;
color: #000;
text-align: left;
display: block;
padding-bottom: 10px;
cursor: pointer;
}

a.back_to_main_link:hover,
a.back_to_main_link:focus,
a.back_to_main_link:active
{
color: #000;
opacity: 0.9;
}

/*#clear_button {
margin-top: 0
}*/

.products_row {
margin-bottom: 20px
}

.popup h4 {
margin-bottom: 4px
}

.popup form {
padding: 30px 0 0 0
}

/*.popup input[type="text"] {
text-align: center;
background-color: rgba(0, 0, 0, 0.87);
display: block;
width: 100%;
margin-bottom: 20px;
border: 1px solid #D9D9D9;
display: inline-block;
height: 60px;
line-height: 60px;
padding: 0;
vertical-align: middle;
color: #747373;
text-align: left;
font-weight: bold;
font-size: 1rem;
padding-left: 12px
}*/

.popup .alignCenter {
margin-top: 30px
}

/*.popup textarea {
display: block;
margin-bottom: 10px;
text-align: left;
width: 100%;
border: 1px solid #D9D9D9
}*/






.empty_cart {
color: #fff
}

.close1{
background: url('../images/close.png') no-repeat;
background-size: contain;
width: 30px;
height: 30px;
cursor: pointer;   
position: absolute;
right: 15px;
top: 10px;
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
z-index: 9000;
transition: .2s;
}

.close1:hover{
opacity: 0.7;
}

#blindLayer {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1001;
display: none;
height: 100%;
width: 100%
}





.thanks {
color: #fff;
margin-top: 30vh;
font-size: 46px;
font-weight: bold;
line-height: 50px;
text-align: center;
text-shadow: 0.81471px -0.596059px 2.94px #000000, 0.69471px -0.716059px 2.94px #000000, 0.81471px -0.716059px 2.94px #000000, 0.69471px -0.596059px 2.94px #000000, 0.81471px -0.596059px 2.94px #000000, 0.69471px -0.716059px 2.94px #000000, 0.81471px -0.716059px 2.94px #000000, 0.69471px -0.596059px 2.94px #000000
}

.thanks_text {
color: #fff;
font-size: 23px;
margin: 32px 0 0;
font-weight: bold;
line-height: 33px;
text-align: center;
text-shadow: 0.81471px -0.596059px 2.94px #000000, 0.69471px -0.716059px 2.94px #000000, 0.81471px -0.716059px 2.94px #000000, 0.69471px -0.596059px 2.94px #000000, 0.81471px -0.596059px 2.94px #000000, 0.69471px -0.716059px 2.94px #000000, 0.81471px -0.716059px 2.94px #000000, 0.69471px -0.596059px 2.94px #000000
}

.grey_layer {
background-color: rgba(0, 0, 0, 0.87);
height: 100vh;
width: 100vw;
opacity: 0.9
}

#thank-page {
background: url(../images/thank.jpg)no-repeat center center
}



.copywrite {
color: #fff;
margin-top: 10px
}

.get_price {
padding-top: 60px;
display: block
}

.good {
margin: auto
}

form#feedback-form {
margin:auto;
background-color: #fff;
margin-top: 1.5rem;
width: 95%;
max-width: 450px;
padding:20px;
border-radius: 20px;
}

a.form__links{
display: block;
text-align: center;
text-transform: uppercase;
font-size: 1.4rem;
margin-bottom: 1rem;
margin-top: 2rem;
}



h2.form__order {
text-align: center;
font-size: 1.3rem;
text-align: center;
font-family: "Open Sans Bold";
margin-bottom: 1rem;
text-transform: uppercase;
display: block; 
padding-top: 1rem;
}

.map {
margin-bottom: 2rem;
border: 2px solid #da7701;
min-height: 300px;
}








@media (max-width: 1200px) {
.good {
margin: auto
}
/*form#feedback-form {
margin-top: 260px
}*/
.header-social {
width: 400px;
min-height: 80px;
margin: auto;
text-align: center
}
.product_table_head {
display: none
}
.product_price,
.total_price,
.table_quantity {
padding-top: 10%
}
.image_product {
display: inline-block;
width: 70%;
max-width: 270px;
text-align: center;
margin: 0 auto;
float: none;
padding: 10px
}
p.product_title {
text-align: center
}
.popup_button {
margin-bottom: 20px
}
}

#feedback-box {
margin: 20px
}

​ #feedback-box h2 {
text-align: center;
height: 20px;
line-height: 20px;
border-bottom: 1px solid #ddd;
font-size: 14px;
color: #414141;
margin: 0
}

#feedback-form input[type="text"],
#feedback-form input[type="number"],
#feedback-form input[type="tel"],
#email,
#feedback-form textarea {
padding: 7px 10px;
outline: none;
color: #000;
width: 80%;
max-width: 250px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
height: 30px;
margin:auto;
}

#feedback-form textarea {
resize: none
}

#feedback-form input[type="text"] {
margin-left: 10px;
background-color: rgba(255, 254, 254, 0.9);
text-align: left
}

#feedback-form input[type="text"]:focus,
#feedback-form textarea:focus {
border: 1px solid #ccc
}

#feedback-form #send {
padding: 5px 20px
}
.input-bloc {
margin-bottom: 12px
}

.w1 label {
display: inline-block;
width: 180px;
text-align: center;
margin-bottom: 10px;
padding-left: 5px
}
.msg label {
display: inline-block;
margin-bottom: 6px
}

.error-box {
color: red;
font-size: 12px
}

.make_order {
height: 132px;
background-color: rgba(255, 254, 254, 0.9);
padding-bottom: 20px
}

.make_order__title {
color: #000;
text-align: left;
padding-top: 40px;
font-size: 30px
}

div.cart_content {
padding-top: 20px !important
}

.product_table_head {
background-color: #fff
}

#send {
margin-top: 30px
}

.address {
color: #fff;
text-align: center
}

.wrapper{
height: 100vh;


}

.site-footer {
overflow: hidden;
width: 100%;
background: #da7701;
background: -webkit-linear-gradient(right, #a42102, #da7701);
background: linear-gradient(270deg, #a42102, #da7701);
background-position: top;
background-repeat: no-repeat;
background-attachment: scroll;
color: #fff;
position: relative;
padding: 3rem 0;
line-height: 3rem;
z-index: 2;
height: 120px;

}

.delivery__footer {
	position: absolute;
	bottom: 0;
	left: 0;
}



.footer-text__about {
font-size: 1rem;
line-height: 1.2rem;
font-weight: 400;
padding: 0 0 .3125rem;
text-align: center;
}

img.text__image {
	display: block;
	width: 90%;
	max-width: 300px;
	margin:auto;
	border: 2px solid #da7701;
}

.text__content{
font-size: 1.1rem;
line-height: 1.3rem;
margin-top: 1rem;
margin-bottom: 1rem;
text-align: justify;
}
.text__content span {
font-family: "Open Sans Bold";	
}
p.text__title{
font-family: "Open Sans Bold";
font-size: 1.2rem;
line-height: 1.4rem;
margin-top: 1rem;
margin-bottom: 1rem;
text-align: center;	
}
img.icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-right: 1.5rem;
}

@media (max-width: 1024px) {

.delivery__footer {
	position: relative;
}


.products {
width: 50%;
margin:auto; 
margin-bottom: 1rem;
height: auto;
max-width: 300px;
display: block;

}

}



@media (max-width: 767px) {
h1.main__activity{
font-size: 2.2rem; 
color: #fff;
font-family: "Open Sans Bold";
width: 90%;
}

.popup {
     margin-left: -150px;    
    top: 2rem;
    width: 300px;
    
}




.section__title {
font-size: 1.5rem;
}

.products {
width: 90%;
margin:auto; 
margin-bottom: 1rem;
height: auto;

}
.card_background.sc-product-item {   
height: auto; 
}
.a.form__links{
	font-size: 1rem;
}
}

@media (max-width: 600px) {
h1.main__activity {
    font-size: 2rem;
    color: #fff;
    font-family: "Open Sans Bold";
    width: 90%;
}
img.header__logo {
   
    max-width: 180px;
    margin-top: 1rem;
    
}
}



@media (max-width: 400px) {
h1.main__activity {
    font-size: 1.5rem;
   
}
.section__title {
font-size: 1.1rem;
}
}